
<br><br>

  <h1 class="white center">Encuesta de personajes</h1>

  <br><br>

<h2 class="center white"> Selecciona la Loli que más te guste</h2>
<br>
<div class="row">
 
  <div class="col-md-4 center">
    <img src="../../../assets/img/loli1.png" alt="" width="300px" class="item1" onclick="selectedAnswer1(this)">
    
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/loli2.png" alt="" width="300px" class="item2" onclick="selectedAnswer1(this)">
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/loli3.png" alt="" width="300px" class="item3" onclick="selectedAnswer1(this)">
  </div>
</div>

<br><br><br>

<h2 class="center white"> Seleccione la tonalidad de verde que más te agrade para Loli</h2>
<br>
<div class="row">
 
  <div class="col-md-4 center">
    <img src="../../../assets/img/color1.png" alt="" width="300px" class="item21" onclick="selectedAnswer2(this)">
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/color2.png" alt="" width="300px" class="item22" onclick="selectedAnswer2(this)">
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/color3.png" alt="" width="300px" class="item23" onclick="selectedAnswer2(this)">
  </div>
</div>

<br><br><br>

<h2 class="center white"> Seleccione el personaje que más te guste</h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/niño.png" alt="" width="300px" class="item31" onclick="selectedAnswer3(this)">
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/niñoanterior.png" alt="" width="300px" class="item32" onclick="selectedAnswer3(this)">
  </div>

</div>

<br><br><br>

<h2 class="center white"> Seleccione el personaje que más te guste</h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/niña.png" alt="" width="300px" class="item41" onclick="selectedAnswer4(this)">
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/niñaanterior.png" alt="" width="300px" class="item42" onclick="selectedAnswer4(this)">
  </div>

</div>

<br><br><br>

<h2 class="center white"> Seleccione el fondo que más te guste</h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/fondoactual.png" alt="" width="300px" class="item51" onclick="selectedAnswer5(this)">
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/fondoanterior.png" alt="" width="300px" class="item52" onclick="selectedAnswer5(this)">
  </div>

</div>
