<div class="centrado">


<h2>NOSOTROS</h2>
<div class="row">
  

  <div class="col-sm-5 col-md-6">
 
    -----------------<br>
    La Escuela de Diseño y Comunicación Visual, EDCOM, de la Escuela Superior Politecnica del Litoral ESPOL, busca
    constantemente innovar, a la vanguardia de la tecnología, incorporando esquemas relacionados con el arte, el diseño
    y la comunicación visual. 
    <br>
    >Dentro de su que hacer académico y de Investigación, está desarrollando proyectos
    de carácter multidisciplinario, que incorporan el diseño y creación de producciones animadas como aplicaciones
    móviles educativas monitoreadas en línea.


  </div>
  <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
    <br>

    En estas producciones se proponen la creación de nuevas líneas de diseño de personajes y ambientaciones a ser
    utilizadas en el desarrollo e implementación de innovadoras herramientas digitales lúdicas de apoyo para la
    educación infantil. <br>

    Descarga y prueba nuestros juegos MIDI-AM en sus versiones Beta y descubre la diversión y enseñanza de su uso para
    tus niños. Te invitamos a ser parte de nuestro equipo MIDI-AM dándonos tus ideas y comentarios de cómo mejorar los
    mismos. <br><br>
  </div>
</div>
</div>
