<div class="blackbanner">  
  <div id="textbannerproductos" class="container productoText">    
      <div class="row">
          <br>
          <div class="col-xs-7 col-sm-6 col-lg-6 estilo">
              <h2>PRODUCTOS</h2>
              -------------------<br>
              Como parte de nuestra creciente cartera móvil, 
              ahora ofrecemos nuestra selección 
              de juegos beta gratuitos en 
              google play. <br>
              <br>
              ¡Prueba de nuestros juegos y descubre cuáles <br>
              se adaptan mejor a tus gustos! <br>
          </div>
<div class="col-xs-5 col-sm-6 col-lg-4">
           <a href="https://play.google.com/store/apps/developer?id=Escuela+Superior+Polit%C3%A9cnica+del+Litoral" target="_blank">
              <img class="logo-cuatroface" src="../../../assets/img/cuatro.jpg" /></a>
          </div>
          <br>
      </div>        
  </div>
  </div>  
  