.centrado{
    align-content: center;
    padding: 50px;
    color:white;
}

.menuadmin .col-md-3{
    width: 90%;
    background: #5EAF42;
    color: white;
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
    margin: 0px 15px;
}
.menuadmin .col-md-3:hover{
    cursor: pointer;
    font-size: 22px;
    background: green;
}

.menuadmin{
    margin: 15px 50px;
}

.seleccionado{
    background: green !important;
}

.cerrar{
    width: 80% !important;
    margin: 0px 12px;
    background:transparent;
    height: 60px;
    padding-top: 12px;
    border-radius: 8px;
    text-align: center;
    color: white;
    border:2px solid  rgb(233, 147, 26);
    font-size: 20px;
}
.cerrar:hover{
    background: orange;
    color:  white;
    transition: all 0.5s;
    font-size: 22px;
    cursor:pointer;
    border:1px solid white;
}