<div class="row menuadmin">
    <div class="col-md-3 seleccionado" routerLink="/usuarios" >Usuarios</div>
    <div class="col-md-3">Encuestas</div>
    <div class="col-md-3" routerLink="/lineagrafica">Línea gráfica</div>
    <div (click)="cerrarsesion()" class="col-md-2 cerrar">Cerrar Sesión</div>
</div>
<div class="container centrado">
        
    <div class="row">
    <div class="col-md-4">
        <div class="card"> 
            <div class="card-content">
                <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
                    <div class="row">
                        
                        <div class="input-field col-md-10">
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Nombre">
                        </div>
                        <div class="input-field col-md-10">
                            <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="userService.selectedUser.lastname" placeholder="Apellido">
                        </div>
                        <div class="input-field col-md-10">
                            <input type="email" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" placeholder="Correo">
                        </div>
                        <div class="input-field col-md-10">
                            <input type="password" name="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" placeholder="Contraseña">
                        </div>
                        <div class="input-field col-md-10">
                                <input type="text" name="roles" #name="ngModel" [(ngModel)]="userService.selectedUser.roles" placeholder="Rol">
                            </div>       
                        <div class="card-action">
                                <div class="input-field col-md-10">
                                <button class="btn" style="margin-left: 2px">Guardar</button>
                                <button class="btn right" (click)="resetForm(userForm)">Limpiar</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div> 
    <div class="col-md-8">
        <table>
            <thead>
              
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Contraseña</th>
              <th>Rol</th>  
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let user of userService.users">
                
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles }}</td>
                <td>
                  <a (click)="editUser(user)">
                      <i class="material-icons">edit</i>
                  </a>
                  <a (click)="deleteUser(user._id)">
                      <i class="material-icons">delete</i>
                  </a> 
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
 
</div>
