<div class="fondo">
<nav  id="menu" class="nav">
	<ul>
		<li>
			<a  href="#" title="" routerLink="/inicio"><span  class="icon"> <i aria-hidden="true"  class="icon-home"></i></span><span>Inicio</span></a>
		</li>
		<li>		
			<a href="#" routerLink="/productos" title=""><span class="icon"> <i aria-hidden="true" class="icon-services"></i></span><span>Productos</span></a>	
		</li>	
		<li>
			<a  href="#" routerLink="/nosotros" title=""><span  class="icon"><i  aria-hidden="true" class="icon-portfolio"></i></span><span>Nosotros</span></a>
		</li>
		<li>
			<a  href="#" routerLink="/politicas" title=""><span  class="icon"><i  aria-hidden="true" class="icon-blog"></i></span><span>Políticas</span></a>	
		</li>
		<li>
			<a  href="#" routerLink="/contacto" title=""><span  class="icon"><i  aria-hidden="true" class="icon-team"></i></span><span>Contacto</span></a>	
		</li>
		<li>
			<a  href="#" routerLink="/user/login" title=""><span  class="icon"><i  aria-hidden="true" class="icon-contact"></i></span><span>Cuenta</span></a>
		</li>
		
	</ul>
</nav>


  <div id="menu1" class="col-md-12">
    <router-outlet></router-outlet>
	</div>
	
	
		<footer>
			<div class="row">
				<div class="col-md-4 ">
						<img class="logoespol" src="../assets/img/espol simbolo.png" alt="">
					</div>
				<div class="col-md-4">
					<img src="../assets/img/UVS.png" alt="">
				</div>
				<div class="col-md-4">
					<img src="../assets/img/logo_edcom.png" alt="">
				</div>
			</div>
		</footer>
	
	
</div>
