footer img{
    width: 160px;
    margin-left: 35%;
    padding-top: 5%
}
footer{
  width: 99.5%;
  padding: 10px;
  background: #f2f2f2
}
.logoespol{
    width: 90px !important;
    padding: 0 !important;
}

.fondo{
    background: url("../assets/img/index.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


