<div class="row">


  <div class="col-md-3">
      <div class="menuadmin " routerLink="/usuarios">Usuarios</div>
  </div>
  <div class="col-md-3">
          <div class="menuadmin " routerLink="/encuestaAdmin" >Encuestas</div>
      </div>
      <div class="col-md-3">
              <div class="menuadmin seleccionado" routerLink="/lineagrafica">Línea gráfica</div>
          </div>
          <div class="col-md-3">
                  <div class="cerrar " (click)="cerrarsesion()">Cerrar Sesión</div>
              </div>
  

  </div>

