<div class="row">




    <div class="container ">

        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <h4 class="title">Encuesta</h4>
                    <div>
                        <label class="preguntas">¿Cuántos niños tiene?</label>
                        <input type="number"><BR>
                        <label class="preguntas">¿En qué sector vive?</label>
                        <select class="custom-select">
                                <option value="norte" >Norte de Guayaquil</option>
                                <option value="centro" ng-selected="true">Centro de Guayaquil</option>
                                <option value="sur">Sur de Guayaquil</option>
                             
                            </select>
                            <label class="preguntas">Indique su nivel de conocimiento en el uso de móviles</label>
                            <select class="custom-select">
                                    <option value="nulo" >Nulo</option>
                                    <option value="basico" ng-selected="true">Básico</option>
                                    <option value="medio">Medio</option>
                                    <option value="avanzado">Avanzado</option>
                                 
                                </select>

                                <label class="preguntas">A su niño le parecieron divertidas las historias de la aplicación</label>
                            <select class="custom-select">
                                    <option value="bajo" ng-selected="true">Bajo</option>
                                    <option value="medio">Medio</option>
                                    <option value="alto">Alto</option>
                                 
                                </select>
                                <label class="preguntas">¿Cuál de estas aplicaciones le pareció más divertida a su niño?</label>
                            <select class="custom-select">
                                    <option value="seres" >4 Aventuras- seres</option>
                                    <option value="escuela" ng-selected="true">"4 Aventuras- Escuela"</option>
                                    <option value="animales">4 Aventuras - Animales</option>
                                  
                                 
                                </select>

                                <label class="preguntas">¿Qué parentesco o relación tiene ustes con el niño?</label>
                                <select class="custom-select">
                                        <option value="padres" >Padre/Madre de Familia</option>
                                        <option value="maestro" ng-selected="true">"Maestro/a"</option>
                                        <option value="terapeuta">Terapeuta</option>
                                        <option value="psicologo">Psicólogo</option>
                                        <option value="otro">Otro</option>
                                      
                                     
                                    </select>

                                    <label class="preguntas">¿Qué tan intuitiva (fácil de usar) es la aplicación para el niño?</label>
                                    <select class="custom-select">
                                            <option value="1" >Muy Intuitiva</option>
                                            <option value="2" ng-selected="true">Medio Intuitiva</option>
                                            <option value="3">Poco Intuitiva</option>
                                    
                                        </select>

                                        <label class="preguntas">¿Qué nivel de calidad califica usted la aplicación en cuanto a contenido educativo?</label>
                                        <select class="custom-select">
                                                <option value="1" >Alto</option>
                                                <option value="2" ng-selected="true">Medio</option>
                                                <option value="3">Bajo</option>
                                        
                                            </select>
                                            <label class="preguntas">Escriba aquí su comentario o sugerencia para mejorar la aplicación.</label>
                                            <textarea class="span1 form-control" rows="6" ></textarea>
                    </div>
                </div>
            </div>